
* {
	padding: 10px;
	margin: 20px;
	box-sizing:border-box;
	font-family: calibri;
	background-color:blue;

}

body {
	background color: white;
	overflow: auto;
}

h1{
	text-align: center;
	margin: 7%;
	font-size: 5rem;
	text-decoration: underline;
}

ul {
	text-align: left;
	padding-left: 10%;
	padding: 8%;
	font-size: 4rem;
	list-style: circle;
}

li:hover{
	color:red;
	margin: 6%;
	transition: 1.5s ease;
	cursor: pointer;
}

